
.blobCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 7em;

}

/* Common blob styles */
.blob {
  border-radius: 100px;
  filter: blur(40px);
  position: absolute;
  will-change: transform;
}

/* Yellow Blob */
.yellow {
  background-color: var(--yellow);
  top: 200px;
  left: 100px;
  height: 200px;
  width: 200px;
  animation: var(--yellowAnim) 8s infinite ease !important;
}

/* Green Blob */
.green {
  background-color: var(--green);
  top: 80px;
  right: -20px;
  height: 200px;
  width: 250px;
  animation: var(--green-anim) 8s infinite ease !important;
}

/* Red Blob */
.red {
  background-color: var(--red);
  top: 360px;
  right: 0;
  height: 250px;
  width: 200px;
  animation: var(--red-anim) 8s infinite linear !important;
}


.slideUp {
    animation: var(--slide-up) 0.6s ease-in forwards !important;
}


/* Slide from left (for "Mark") */
.slideLeft {
    display: inline-block;
    animation: var(--slide-left) 0.6s ease-in forwards !important;
  }
  


/* Slide from right (for "Axelus") */
.slideRight {
    display: inline-block;
    animation: var(--slide-right) 0.6s ease-in forwards !important;
}

