@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--font-inter);
}

#root,
body,
html,
.app {
  height: 100%;
  width: 100%;
  @apply bg-white;
  @apply dark:bg-black;
 
}

@keyframes custom-ping {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2); /* Bigger radius = slower visible expansion */
    opacity: 0;
  }
}

.animate-custom-ping {
  animation: custom-ping 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}